#form-login {
	padding: 10px !important;
	margin: 20px auto;
}
#tabs {
	margin-top: 20px !important;
}

.social-login {
	margin: 10px auto;
	padding-top: 10px !important;
	justify-content: space-around;
}
.signup-text {
	max-width: 50%;
	margin: auto;
}
.MuiButton-extendedFab-71 {
	text-align: center !important;
	background: green !important;
	color: white !important;
	border-radius: 3px !important;
}
.MuiFormControl-root-1 {
	margin: 5px auto !important;
}

.MuiInputBase-input-46 {
	z-index: -999;
	background: white !important;
}
.MuiFormLabel-root-16 {
	color: red !important;
}
