.add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.body {
	margin: 0 auto;
}
.add {
	margin-top: 20px !important;
	color: red !important;
}
.addbutton{
	margin-right: 100px;
	text-align: center !important;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(77, 125, 236, 0.794);
	font-size: 12px;
	max-width: 150px;
	height: 30px;
}