
  .card{
    box-shadow: 0px 0px 10px #00000090;
    box-shadow: 2px solid#333;
    margin: 10px;
  }
  .card:hover {
    transition: all 200ms ease-in;
    transform: scale(1.03);
  }
 
  .card-content {
    transition: all 6s ease-in;
    z-index: 1000;
  }
  .card-title {

    padding-left: 2px;
    text-transform: uppercase;
  }
  .card-desc {

    padding-left: 2px;
    top: 2rem;
  }
  .card-date {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .card-category {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: yellow;
  }
  .card-rating {
    text-transform: uppercase;
  }
  .white {
    color: whitesmoke;
  }
  .yellow {
    color: red;
  }
  .rating {
    display: flex;
    letter-spacing: 5px;
  }
  