.card {
	height: 400px !important;
	background: transparent !important;
	position: relative;
	box-shadow: 10px 10px 10px #111;
	transition: background-color .25s;
}
.card-folder {
	height: 100%;
	width: 330px;
	position: relative;
	margin: 10px 5px !important;
	text-transform: uppercase;
	margin: 10px;
}
.card-body,
.card-text {
	background: transparent !important;
	color: white !important;
}
.card-image {
	height: 400px !important;
	position: absolute;
	z-index: -1111;
}

.card:hover {
	transition: all 200ms ease-in;
	transform: scale(1.03);
}

.card-title {
	padding-left: 2px;
	text-transform: uppercase;
}
.card-desc {
	padding-left: 2px;
	top: 2rem;
}
.card-date {
	text-transform: uppercase;
	letter-spacing: 5px;
}
.card-genre {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: tomato;
}
.card-rating {
	position: absolute;
	top: 8.5em;
	display: flex;
	text-transform: uppercase;
	border: 1px solid red;
}
.white {
	color: whitesmoke;
}
.yellow {
	color: rgb(228, 228, 36);
}
.rating {
	letter-spacing: 5px;
}
