.all-movies-list {
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	margin: auto;
	width: 90vw;
}

.search-input {
	padding: 5px;
	outline: thin;
	border: 1px solid gray;
	text-transform: uppercase;
	border-radius: 20px;
	background-color: #f2f2f2 !important;
}
input {
	text-indent: 10px;
	font-weight: 100;
}
.add {
	padding: 10px;
	margin: 0 3px;
}

.add:hover {
	transform: scale(1.05);
}

.genres {
	text-align: center;
}
.genres-list {
	align-items: center;
	padding: 10px;
	cursor: pointer;
}
.genres-list a {
	font-weight: 500;
	font-size: 15px;
	padding: 5px;
	text-transform: uppercase;
	color: blue !important;
}
.genres-list a:hover {
	color: green !important;
}
.movies-list-search {
	max-width: 400px;
	margin: auto;
}
.search {
	margin: auto;
}
